<div class="comment-wrapper">
	<div class="comment-metadata">
		<div class="commenter-name">
			<p>
				<%= comment.commenter %>
			</p>
		</div>
		<div class="comment-date"> 
			<p>
				<%= comment.date %>
			</p>
		</div>
	</div>
	<div class="comment-content">
		<p>
			<%= comment.comment %>
		</p>
	</div>
</div>