<div class="project <%= project.title %>">
	<div class="project-image">
		<a href="projects/<%= project.id %>">
			<img src="<%= project.small_image_url %>">
		</a>
	</div>
	<div class="project-description">
		<p><%= project.title %></p>
	</div>
</div>