<a href="/blog/<%= tagged_post.title.gsub(' ','-') %>">
<article>
	    <div>
	    	<p><%= tagged_post.title %></p>
	    </div>
	    <div>
	    	<p> <%= tagged_post.date %> <p/>
	    </div>
</article>
</a>