<div id="contact_container">
	<div id="contact_info">
		<div id="phone">
			<p>(415) 595 2940</>
		</div>

		<div id="address">
			<p>131 Guernsey Street Apt 3L</br>
			Brooklyn, NY 11222</p>
		</div>
	</div>

	<div id="link_icons">
		<div class="network">
			<a href="mailto:pdarche@gmail.com"><img src="/images/64x64/gmail.png"/></a>
		</div>

		<div class="network">
			<a href="https://github.com/pdarche" target="_blank"><img src="/images/64x64/github.png" width="64px"/></a>
		</div>
		
		<div class="network">
			<a href="http://www.kiva.org/lender/peter7681" target="_blank"><img src="/images/64x64/kiva.png"/></a>
		</div>

		<div class="network">
			<a href="https://www.facebook.com/pdarche" target="_blank"><img src="/images/64x64/facebook.png"/></a>
		</div>
		
		<div class="network">
			<a href="https://twitter.com/#!/Pdarche" target="_blank"><img src="/images/64x64/twitter.png"/></a>
		</div>

		<div class="network">
			<a href="https://vimeo.com/user8637171" target="_blank"><img src="/images/64x64/vimeo.png"/></a>
		</div>

		<div class="network">
			<a href="https://foursquare.com/user/91400" target="_blank"><img src="/images/64x64/foursquare.png"/></a>
		</div>
		
		<div class="network">
			<a href="http://www.linkedin.com/profile/edit?trk=hb_tab_pro_top" target="_blank"><img src="/images/64x64/linkedin.png"/></a>
		</div>
		
		<div class="network">
			<a href="http://www.youtube.com/user/pdarche1" target="_blank"><img src="/images/64x64/youtube.png"/></a>
		</div>
		
		<div class="network">
			<a href=""><img src="/images/64x64/tumblr.png"/></a>
		</div>

		<div class="network">
			<a href=""><img src="/images/64x64/delicious.png"/></a>
		</div>

		<div class="network">
			<a href=""><img src="/images/64x64/digg.png"/></a>
		</div>

		<div class="network">
			<a href="https://plus.google.com/108628530124143542310/posts" target="_blank"><img src="/images/64x64/googleplus.jpeg"/></a>
		</div>

		<div class="network">
			<a href=""><img src="/images/64x64/myspace.png"/></a>
		</div>
		
		<div class="network">
			<a href=""><img src="/images/64x64/instagram.jpeg"/></a>
		</div>

		<div class="network">
			<a href="http://www.yelp.com/user_details?userid=N4rUAFF6yzful8HVx_FTPQ"><img src="/images/64x64/yelp.png"/></a>
		</div>

		<div class="network">
			<a href="http://en.wikipedia.org/wiki/User:Pdarche"><img src="/images/64x64/wikipedia.png"/></a>
		</div>

		<div class="network">
			<a href=""><img src="/images/64x64/ebay.png"/></a>
		</div>

		<div class="network">
			<a href=""><img src="/images/64x64/friendfeed.png"/></a>
		</div>

		<div class="network">
			<a href="http://www.okcupid.com/profile" target"_blank"><img src="/images/64x64/okcupid.jpeg"/></a>
		</div>
	</div>

</div>
