<div class="introContent">
    <div id="sketch_container">
        <canvas id="nameSwarm" data-processing-sources="javascript/pjs_sketches/nameSwarm.pde" width="960" height="500">
            <p>Your browser does not support the canvas tag.</p>
             Note: you can put any alternative content here. 
        </canvas>
        <noscript>
           <p>JavaScript is required to view the contents of this page.</p>
       </noscript>
    </div>
    <div id="homeLinksDivExp">
            <ul id="homeLinksUl">
                <li id="about"><a href="/about">about</a></li>
                <li id="work"><a href="/projects">projects</a></li>
                <li id="blog"><a href="/blog/page/0">blog</a></li>
                <li id="contact"><a href="/contact">contact</a></li>
            </ul>
    </div>
</div>