<html>
<head>
    <title>pdarche</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/javascript/processing.js" type="text/javascript"></script>
    <script src="javascript/getSketch.js" type="text/javascript"></script>
</head>
<body>
    <div id="home_content">
        <%= yield %>     
    </div>
    <script src="/javascript/global.js" type="text/javascript" ></script>
</body>
</html>
