
#top_wrapper{
	width:100%;
	height:70%;
}

#bottom_wrapper{
	width:100%;
	height:30%;
}

.data{
	width:31%;
	float:left;
	text-align:center;
	font-size:30px;
	color: rgba(0,0,0,.7);
	text-shadow: 1px 2px 3px #def, 0 0 0 #000, 1px 2px 3px #def;
	margin:20px 1%;
}

#about_container{
	height:600px;
	background-color: rgba(255,255,255,.5);
	border: 1px solid white;
	-webkit-box-shadow:  
		3px 5px 3px -2px #888,
		-3px 0px 3px -2px #888;
}

#weight_data, #steps_data, #sleep_data{
	font-size:40px;
}

#map{
	width:100%;
	height:100%;
}



